{%extends 'profiles/base.html'%}

{%block content%}
<h2 class="text-center">Suscribe to my premium plans</h2>
<div class="row mt-5">
	
	<div class=" col-md-4">
		<p>ooooooooo ooooooooo oooooooooooo ooooooooooo oooooo oooooo o oooooo ooooooooooo oooooomskf ffffffffff f ffffff ff;;;;;;;; ;;;;;;;;; ;kmffffff fffffff f fffffker r rrrrrrr rrrrrrrrr rrrrrrrmvvv v vvvvvvv vvvvvvvvv v verjjjjjj jjj jjjjjjjjj jjvnnnnnnn nnnnnnnnnnn nnnieeeeeee eeeeeeee eenvcc cccccccc c ccccccccc ccfhhhhhhh hhhhhhhh cshhhhhhh hhhhh hhhhhhhhhh h h hh hhhhh hhhhh hhhhhhhhhh hhhhhhhhhhhh hhhhh h h hhhhhhhhhhh hhcc ccccc ccccc cc c cccccccc ccccc ccc cccccccc chfff ffffffffff ff  cfhhhhhh hhhhhhhh hhhhhefwww wwefwfvf vvrv gwf</p>
	</div>

	<div class="col-md-4">
		<p>ooooooooo ooooooooo oooooooooooo ooooooooooo oooooo oooooo o oooooo ooooooooooo oooooomskf ffffffffff f ffffff ff;;;;;;;; ;;;;;;;;; ;kmffffff fffffff f fffffker r rrrrrrr rrrrrrrrr rrrrrrrmvvv v vvvvvvv vvvvvvvvv v verjjjjjj jjj jjjjjjjjj jjvnnnnnnn nnnnnnnnnnn nnnieeeeeee eeeeeeee eenvcc cccccccc c ccccccccc ccfhhhhhhh hhhhhhhh cshhhhhhh hhhhh hhhhhhhhhh h h hh hhhhh hhhhh hhhhhhhhhh hhhhhhhhhhhh hhhhh h h hhhhhhhhhhh hhcc ccccc ccccc cc c cccccccc ccccc ccc cccccccc chfff ffffffffff ff  cfhhhhhh hhhhhhhh hhhhhefwww wwefwfvf vvrv gwf</p>
	</div>

	<div class="col-md-4">
		<p>ooooooooo ooooooooo oooooooooooo ooooooooooo oooooo oooooo o oooooo ooooooooooo oooooomskf ffffffffff f ffffff ff;;;;;;;; ;;;;;;;;; ;kmffffff fffffff f fffffker r rrrrrrr rrrrrrrrr rrrrrrrmvvv v vvvvvvv vvvvvvvvv v verjjjjjj jjj jjjjjjjjj jjvnnnnnnn nnnnnnnnnnn nnnieeeeeee eeeeeeee eenvcc cccccccc c ccccccccc ccfhhhhhhh hhhhhhhh cshhhhhhh hhhhh hhhhhhhhhh h h hh hhhhh hhhhh hhhhhhhhhh hhhhhhhhhhhh hhhhh h h hhhhhhhhhhh hhcc ccccc ccccc cc c cccccccc ccccc ccc cccccccc chfff ffffffffff ff  cfhhhhhh hhhhhhhh hhhhhefwww wwefwfvf vvrv gwf</p>
	</div>
</div>




{%endblock%}